{% extends "layout.html"%}
{%block content%}
   <h1>About Me</h1>

  <p>Hi there! I’m Gurjas, and welcome to my little corner of the internet.
    I created this blog to share my journey, thoughts, and learnings about website development. Over the past few years, I’ve realized how powerful it is to learn from others’ experiences, and this blog is my way of giving back—by documenting what I learn and sharing it with you. 
  </p>


  <p>
    My goal is simple: to create content that helps, inspires, or simplifies something in your life.

    Why This Blog?
    I believe that everyone is constantly learning, and sharing knowledge makes the journey more exciting. This blog is my space to document that process and hopefully spark ideas or conversations that matter to you too.

  </p>

<p>Let’s Connect!
Thank you for stopping by—I’m glad you’re here!
If you’d like to stay connected, feel free to:
Drop a comment on any post</p>



<p>Reach me at: gurjasnarang1111@gmail.com</p>


<p>Let’s learn, grow, and explore together.  </p>
 {% endblock%}
